{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Load Ubuntu font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap">
    <link rel="stylesheet" type="text/css" href="{% static 'hjemmeside/new_main.css' %}">
    
    <title>Bergen Parkour</title>

</head>

<body>

    <header id="top">

        <nav class="main-nav">
            {% for item in menu_items %}
                {% if item.has_dropdown %}
                    <div class="dropdown">
                        <a href="#" class="nav-item">
                            {{ item.name }} ▼
                        </a>
                        <div class="dropdown-menu">
                            {% for dropdown_item in item.dropdown_items %}
                                <a href="{% url dropdown_item.url %}" class="dropdown-item {% if request.resolver_match.url_name == dropdown_item.url %}active{% endif %}">
                                    {{ dropdown_item.name }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <a href="{% url item.url %}" class="nav-item {% if request.resolver_match.url_name == item.url %}active{% endif %}">
                        {{ item.name }}
                    </a>
                {% endif %}
            {% endfor %}
        </nav>
        
        <div class="logo">
            BERGEN PARKOUR
        </div>
        
        <div class="social-links">
            <a href="{% url 'facebook' %}" class="social-link">
                <img src="{% static 'images/facebook-icon.png' %}" alt="Face" class="social-icon">
            </a> <!-- Facebook -->
            <a href="{% url 'instagram' %}" class="social-link">
                <img src="{% static 'images/instagram-icon.png' %}" alt="Insta" class="social-icon">
            </a> <!-- Instagram -->
        </div>
        
        <div class="menu-button"></div>

    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <a href="#top" class="back-to-top">Til toppen ▲</a>
        <div class="forening-info">
            <p>{{ footer_info.organisasjon_navn }}, Org. nr: {{ footer_info.organisasjon_nummer }}</p>
            <p>{{ footer_info.adresse }}, {{ footer_info.post_nummer }}</p>
            <p>Mail: {{ footer_info.kontakt_mail }}, Tlf: {{ footer_info.kontakt_tlf }}</p>
        </div>                
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
             // Clone social links on page load (hidden)
            $('.social-links').clone().appendTo('.main-nav').addClass('mobile-social').hide();
    
            // Hamburger click toggle
            $('.menu-button').click(function() {
                $('.main-nav').toggleClass('mobile');
                $('.mobile-social').toggle();
            });
            
            // Remove mobile class on resize to desktop
            $(window).resize(function() {
                if ($(window).width() > 768) {
                    $('.main-nav').removeClass('mobile');
                    $('.mobile-social').hide();
                }
            });
        });
    </script>
</body>
</html>