{% extends "hjemmeside/base.html" %}

{% load static %}

{% block specific_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'hjemmeside/hjem.css' %}">
{% endblock specific_css %}

{% block content %}

    <div class="welcome-image">
        {% for bilde in bilder %}
            <img src="{{ bilde.bilde.url }}" alt="{{ bilde.alternativ_tekst}}">
        {% endfor %}
        <h3 class="tagline">MINE SPOR -- MIN BY</h3>
    </div>
    {% if semesterkurs or kort_aktivitet %}
        <div class="timeplan" id="aktiviteter">
            <h1>Våre aktiviteter</h1>
            <p>Trykk på aktivitet for mer info og påmelding</p>

            {% if semesterkurs %}
                <div class="semesterkurs">
                    <h1 class="semesterkurs-tittel" onclick="toggleSection('semesterkurs')">
                        Semesterkurs
                        <span class="toggle-arrow" id="arrow-semesterkurs">▼</span>
                    </h1>
                    <div class="semesterkurs-content" id="content-semesterkurs">
                        <div class="semesterkurs-header">
                            <p>Ukedag</p>
                            <p>Sted</p>
                            <p>Gruppe</p>
                            <p>Tid</p>
                        </div>

                        {% for aktivitet in semesterkurs %}
                            <div class="semesterkurs-item">
                                <div class="aktiviteter-semesterkurs-item" onclick="toggleSection('activity-{{ aktivitet.id }}')">
                                    <p>{{ aktivitet.ukedag }}</p>
                                    <p>{{ aktivitet.sted }}</p>
                                    <p>{{ aktivitet.malgruppe }}</p>
                                    <p>kl.{{ aktivitet.kl_start|time:"H:i" }}-{{ aktivitet.kl_slutt|time:"H:i" }}</p>
                                    <span class="toggle-arrow" id="arrow-activity-{{ aktivitet.id }}">▼</span>
                                    
                                </div>

                                <div class="activity-details" id="content-activity-{{ aktivitet.id }}" style="display: none;">
                                    <p>Fra {{ aktivitet.start_dato }} til {{ aktivitet.slutt_dato }}</p>
                                    {% if aktivitet.datoer_som_utgar.all %}
                                        <p>Datoer som utgår:
                                            {% for dato in aktivitet.datoer_som_utgar.all %}
                                                {{dato}} {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </p>                              
                                    {% endif %}
                                    <p>Antall ganger: {{ aktivitet.antall_ganger}} -- Pris: {{ aktivitet.display_price }}</p>
                                    <p>Oppmøte: {{ aktivitet.sted.oppmote_sted }} </p>
                                    <p>Ansvarlige:
                                        {% for instruktor in aktivitet.personell_rolle.all %}
                                            {{ instruktor.personell }} - {{ instruktor.rolle }} {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                    <p>Ledige plasser: {{ aktivitet.current_ledige_plasser }} </p>
                                    {% if aktivitet.merknader %}
                                        <p>Merknader: {{ aktivitet.merknader }} </p>
                                    {% endif %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="activity_id" value="{{ aktivitet.id }}">
                                        <button type="submit">Meld deg på</button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            {% endif %}

            {% if kort_aktivitet %}
                <div class="kort-aktivitet">
                    <h1 class="kort-aktivitet-tittel" onclick="toggleSection('kort-aktivitet')">
                        Kortere aktiviteter
                        <span class="toggle-arrow" id="arrow-kort-aktivitet">▼</span>
                    </h1>
                    <div class="kort-aktivitet-content" id="content-kort-aktivitet">
                        <div class="kort-aktivitet-header">
                            <p>Type</p>
                            <p>Sted</p>
                            <p>Fra-til dato</p>
                            <p>Gruppe</p>
                        </div>

                        {% for aktivitet in kort_aktivitet %}
                            <div class="kort-aktivitet-item">
                                <div class="aktiviteter-kort-aktivitet-item" onclick="toggleSection('activity-{{ aktivitet.id }}')">
                                    <p>{{ aktivitet.type_aktivitet }}</p>
                                    <p>{{ aktivitet.sted }}</p>
                                    <p>{{ aktivitet.start_dato|date:"j.M" }}-{{ aktivitet.slutt_dato|date:"j.M" }}</p>
                                    <p>{{ aktivitet.malgruppe }}</p>
                                    <span class="toggle-arrow" id="arrow-activity-{{ aktivitet.id }}">▼</span>
                                </div>

                                <div class="activity-details" id="content-activity-{{ aktivitet.id }}" style="display: none;">
                                    {% if aktivitet.datoer_som_utgar.all %}
                                        <p>Datoer som utgår:
                                            {% for dato in aktivitet.datoer_som_utgar.all %}
                                                {{dato}} {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </p>                              
                                    {% endif %}
                                    <p>Antall ganger: {{ aktivitet.antall_ganger}} -- Pris: {{ aktivitet.display_price }}</p>
                                    <p>Oppmøte: {{ aktivitet.sted.oppmote_sted }} </p>
                                    <p>Ansvarlige:
                                        {% for instruktor in aktivitet.personell_rolle.all %}
                                            {{ instruktor.personell }} - {{ instruktor.rolle }} {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                    <p>Ledige plasser: {{ aktivitet.current_ledige_plasser }} </p>
                                    {% if aktivitet.merknader %}
                                        <p>Merknader: {{ aktivitet.merknader }} </p>
                                    {% endif %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="activity_id" value="{{ aktivitet.id }}">
                                        <button type="submit">Meld deg på</button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                            
                    </div>
                </div>
            {% endif %}
        </div>

    {% else %}
        <div id="aktiviteter" class="timeplan">
            <h1>Våre aktiviteter</h1>
            <p>Vi har for øyeblikket ingen pågående eller kommende aktiviteter.</p>
            <p>Send oss gjerne en melding via kontaktskjema om hvor du ville ønsket en aktivitet.</p>
            <a href="{% url 'kontakt' %}">
                <button>Kontakt oss</button>
            </a>
        </div>
    {% endif %}

    <div id="om-oss" class="om-oss">
        <h1>Om foreningen</h1>
        <p>Foreningen ble stiftet i 2019 og har som formål å ivareta og utvikle parkour-miljøet i Bergen på grunnlag av parkourens egenart.
        </p>
        <p>
            Dette kan i praksis bety mye forsjellig. Hittil har vi:
            <ol>- Hatt organiserte parkour aktiviteter og uformelle samlinger</ol>
            <ol>- Etablert samarbeid med flere kommunale etater, i tillegg til andre organisasjoner</ol>
            <ol>- Vært involvert i prosessen rundt bygging av parkour parker</ol>
            <ol>- Besøkt andre miljøer i Stord, Oslo og Danmark</ol>
            <ol>- Bygget opp den lokal kunnskapsbanken rundt parkour, både når det gjelder bevegelsene og risikovurdering</ol>
            For mer detaljer eller dersom dere ønsker å samarbeide om noe så er det bare å ta kontakt.
        </p>
    </div>

    <a href="{% url 'kontakt' %}">
        <button>Lurer du på noe? Spør oss her.</button>
    </a>

    <script class="slideshow" src="{% static 'hjemmeside/slideshow.js' %}"></script>

    <script class="activity-information" src="{% static 'hjemmeside/selection_toggle.js' %}"></script>
{% endblock content %}