/* ==========================================================================
   Styling for content of hjem template
   ========================================================================== */

.welcome-image {
    position: relative;
    z-index: -1;
    width: 100vw;
    margin: 0rem -1rem 1rem -1rem;
    height: calc(100vh - 76.8px);
    overflow: hidden;
}

.welcome-image img {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.tagline {
    margin: 10px -1rem 10px 10px;
    position: absolute;
    bottom: 20px;
    right: 0px;
    z-index: 10;
    padding: 15px 40px 15px 15px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

@media (max-width: 768px) {
    .welcome-image { height: 40vh; }
    .tagline {
        bottom: 5px;
        padding: 5px 20px 5px 5px;
        font-size: 16px;
    }
    .semesterkurs {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
    }
    
    .semesterkurs-header,
    .semesterkurs-item {
        min-width: 800px; /* prevents columns from cramping */
    }
}


.semesterkurs {
    display: flex;
    flex-direction: column;
}

.semesterkurs-header,
.semesterkurs-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
}

.semesterkurs-header p,
.semesterkurs-item p {
    flex: 1; /* Equal width columns */
    padding: 10px;
    margin: 0;
}

.semesterkurs-header {
    font-weight: bold;
    background-color: #f5f5f5;
}

.semesterkurs-item.selectable {
    cursor: pointer;
}
.semesterkurs-item.selectable:hover {
    background-color: #f0f0f0;
}
.semesterkurs-item.selectable:has(input:checked) {
    background-color: #00c8ff;
    color: white;
}